.container {
  max-width: 700px;
  margin: 0 auto;
}

.venues {
}

.venue {
  margin-bottom: 30px;
}

.map-container {
  height: 500px;
}

#map {
  height: 100%;
}

.hamburger-size {
  font-size: 30px;
}